.search__box__input__customize:focus {
    outline: 0px !important;
}

.search__box__input__customize {
    background: #a5140e !important;
    border: none !important;
    border-radius: 0px !important;
    border-bottom: 3px solid #fff !important;
    width: 0px;
    height: 30px;
}

.search__box__input__customize[type=text] {
    color: #fff;
    font-size: 12pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-indent: 5px;
}

.search__box__button {
    background: transparent;
    border: 0px !important;
    color: #fff;
    padding: 0px;
    margin: 0px;
}

.search__box__button:focus {
    outline: 0px !important;
}

::-webkit-input-placeholder {
    color: #dedede;
    font-size: 10pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-indent: 5px;
}

@media screen and (max-width:992px) {}

@media screen and (max-width:767px) {
    #search__box {
        float: none;
        width: 90%;
        margin: 200px auto;
        display: block;
    }
    .search__box__button {
        width: 100%;
        height: 40px;
        background: transparent !important;
    }
    .search__box__button .icon {
        display: none;
    }
    .search__box__input__customize {
        height: 50px;
        background: transparent !important;
        margin: 20px auto;
        display: block;
    }
}