/* You can add global styles to this file, and also import other style files */

li {
    list-style-type: none;
}

a,
a:focus,
a:hover {
    text-decoration: none;
}

.img__loader {
    width: 200px;
    height: 200px;
    margin: auto auto;
    display: block;
}

.mat-sidenav-transition .mat-sidenav-backdrop.mat-sidenav-shown {
    transition: background-color .4s cubic-bezier(.25, .8, .25, 1);
    background: rgba(0, 0, 0, 0.9) !important;
}

.side__navbar {
    width: 250px;
    z-index: 99;
    background: #e8e8e8;
    height: 100%;
    position: fixed !important;
    top: 0px !important;
    z-index: 99 !important;
}

#sidenavMenu {
    left: 0px !important;
}

#sidenavSearch {
    width: 100%;
    position: fixed !important;
    height: 100%;
    background: transparent !important;
    padding: 10px;
}

.mat-sidenav-container,
.mat-sidenav-content {
    transform: none !important;
}

.mat-sidenav-content {
    overflow: hidden !important;
}

.mat-ink-bar {
    background-color: #a5140e;
}

body,
.mat-sidenav-container {
    background: #e6e6e6;
}